{% extends 'base.html.twig' %}

{% block title %}Edit Ejemplar{% endblock %}

{% block body %}
    <h1>Editar Ejemplar</h1>

    {{ include('ejemplar/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <br>
    <a href="{{ path('app_ejemplar_index') }}">Volver</a>
    <br><br>

    {{ include('ejemplar/_delete_form.html.twig') }}
{% endblock %}
