{% extends 'base.html.twig' %}

{% block title %}Nuevo Ejemplar{% endblock %}

{% block body %}
    <h1>Crear nuevo Ejemplar</h1>
    <br>
    {{ include('ejemplar/_form.html.twig') }}
    <br>

    <a href="{{ path('app_ejemplar_index') }}">Volver</a>
{% endblock %}
